{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block title %}
Contacto - TFG
{% endblock %}

{% block body %}
<h2>Información de Contacto</h2>

<p>Facultad de Informática y la Facultad de Veterinaria de la Universidad Complutense de Madrid.</p>
<p><b>Contacto:</b> Luis Revuelta Rueda</p>
<p><b>Correo:</b> lrevuelt@vet.ucm.es</p>

<h2>Sobre Nosotros</h2>

<p>
    Este proyecto surge de la idea de desarrollar una aplicación web que pueda utilizar
    cualquier usuario que tenga acceso a internet, desde sus móviles, tabletas u ordenadores
    y que ayude en la labor de identificar las diferentes especies de aves rapaces emblemáticas
    a través de sus restos óseos.
</p>

<p>
    Esta página ha sido desarrollada por
    <b>Paula Sánchez de la Nieta Gómez</b> (paulsa07@ucm.es) de la Facultad de Informática
    de la Universidad Complutense de Madrid.
</p>

<h2>Autores de los recursos utilizados</h2>

<table>
    <tr>
        <th>Fotos</th>
        <th>Documentos</th>
    </tr>

    <tr>
        <td><b>Fotos de los cráneos y aves no mencionadas</b> – Víctor García Matarranz</td>
        <td><b>Archivo Guía parte 1</b> – Víctor García Matarranz</td>
    </tr>

    <tr>
        <td><b>Águila pescadora, Aguilucho pálido.</b> – J.L. Rodríguez</td>
        <td><b>Archivo Guía parte 2</b> – Víctor García Matarranz</td>
    </tr>

    <tr>
        <td><b>Águila calzada, Halcón peregrino.</b> – F. Cámara Orgaz</td>
        <td><b>Archivo listado de teléfonos</b> – birding140.es</td>
    </tr>

    <tr>
        <td><b>Ratonero, Milano real, Milano negro, Azor.</b> – Basilio Rubio Bartolomé</td>
        <td><b>Base de datos</b> – Víctor García Matarranz y Luis Revuelta Rueda</td>
    </tr>

    <tr>
        <td><b>Halcón abejero.</b> – M. A. de la Cruz Alemán</td>
        <td></td>
    </tr>

    <tr>
        <td><b>Aguilucho cenizo.</b> – J. Martín Simón</td>
        <td></td>
    </tr>

    <tr>
        <td>
            <b>Cernícalo primilla, Cernícalo vulgar, Elanus caerulus,
            Falco columbarius, Gavilán.</b> – Licencia Creative Commons
        </td>
        <td></td>
    </tr>
</table>
{% endblock %}