<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/same5.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/iden2.css">
    <link rel="icon" type="image/png" href="../static/img/favicon_ave.png">
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
    <meta name="viewport" content="width=device-width"/>

    <meta charset="UTF-8">
    <title>
        Identificación - TFG
    </title>
</head>

<body id="scroll">

    <header>
        <h1>Identificación de Restos Óseos en Rapaces Emblemáticas</h1>
    </header>

    <nav>
        <hr>
        <ul>
            <li>
                <a href="/" title="Inicio">INICIO</a>
            </li>

            <li>
                <a href="/" title="Inicio">RECURSOS</a>
            </li>

            <li>
                <a href="/" title="Inicio">CONTACTO</a>
            </li>

        </ul>
       
    </nav>


    <div class="text">
       
    </div>

    <footer>
    
        <div id="pie_pagina">
            <hr>
            <div id="imgucm">
                <img alt="Logotipo secundario de la UCM" src="../static/img/logo_ucm.png" >
            </div>
        
            <!-- <div id="name"> 
                Esta página web ha sido desarrollada por Paula Sánchez de la Nieta Gómez
            </div> -->
        
            <div id="creativecommons">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                    <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a> 
            </div>

            <img src="https://www.miteco.gob.es/es/sistema/includes/cabecera/logo-ministerio-transicion-ecologica_new_tcm30-283644_tcm30-283644.png">

        </div>
        
                 
    </footer>

</body>

</html>