{% extends 'apptfg/pagina_principal.html' %}

{% block footer %}
<footer>
    
    <div id="imgucm">
        <img alt="Logotipo secundario de la UCM" src="../static/img/logo_ucm.png" >
    </div>

    <div id="name"> 
        Esta página web ha sido desarrollada por Paula Sánchez de la Nieta Gómez
    </div>

    <div id="creativecommons">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
            <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
        </a> 
    </div>
             
</footer>
{% endblock %}
