<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/same.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/iden.css">
    <link rel="icon" type="image/png" href="../static/img/favicon_ave.png">
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->


    <meta charset="UTF-8">
    <title>
        TFG
    </title>
</head>

<body id="scroll">

    <header>
        <h1>Identificación de Restos Óseos en Aves</h1>
    </header>

    <nav>
        <hr>
        <ul>
            <li>
                <a href="/" title="Inicio">INICIO</a>
            </li>

        </ul>
       
    </nav>


    <div id="text">
        <h2>Huesos de Ave Rapaz</h2>
        <h3>Introduce aqui la medida en centímetros (cm) de los distintos huesos que haya encontrado.</h3>
        <h3>De los huesos que no sepas su medida o no tengas, deja el valor a cero</h3>

        <form action="calcular" method="POST">
            
            {% csrf_token %}
            
                Coxal L: <input class="square" type="number" name="coxalL" min="0" step="0.1" value="0"> cm<br> 
                Coxal A: <input class="square" type="number" name="coxalA" min="0" step="0.1" value="0"> cm<br> 
                Esternon: <input class="square" type="number" name="esternon" min="0" step="0.1" value="0"> cm<br> 
                Femur: <input class="square" type="number" name="femur" min="0" step="0.1" value="0">cm<br> 
                Tibiotarso: <input class="square" type="number" name="tibiotarso" min="0" step="0.1" value="0"> cm<br> 
                Tarsometatarso: <input class="square" type="number" name="tarsometatarso" min="0" step="0.1" value="0">cm<br> 
                Craneo A: <input class="square" type="number" name="craneoA" min="0" step="0.1" value="0"> cm<br> 
                Craneo L: <input class="square" type="number" name="craneoL" min="0" step="0.1" value="0">cm<br> 
                Humero: <input class="square" type="number" name="humero" min="0" step="0.1" value="0">cm<br> 
                Cúbito: <input class="square" type="number" name="cubito" min="0" step="0.1" value="0"> cm<br> 
                Radio: <input class="square" type="number" name="radio" min="0" step="0.1" value="0">cm<br>
            
                <input class="button" type="reset" value="Restaurar">
                <input class="button" type="submit" value="Calcular">

        </form>
       
        <div>
            <h3>{{msg}}</h3>
                {% for k,v in valor %}
                    <div>
                        <h5>Ave: {{k}}, Probabilidad:{{v}} %</h5>
                    </div>
                {% endfor %}
           
        </div> 
        
    </div>

    <footer>
    
        <div id="imgucm">
            <img alt="Logotipo secundario de la UCM" src="../static/img/logo_ucm.png" >
        </div>

        <div id="name"> 
            Esta página web ha sido desarrollada por Paula Sánchez de la Nieta Gómez
        </div>
    
        <div id="creativecommons">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
            </a> 
        </div>
                 
    </footer>

</body>

</html>