<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../apptfg/static/css/pp.css">
    <link rel="icon" type="image/png" href="../img/3674164.png">
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->


    <meta charset="UTF-8">
    <title>
        TFG
    </title>
</head>

<body id="scroll">


    <header>
        <h1>Identificación de Restos Óseos en Aves</h1>
    </header>

    <nav>
        <hr>
        <ul>
            <li>
                <a href="/" title="Inicio">INICIO</a>
            </li>

            <li>
                <a href="#" title="menú">MENÚ</a>
                <img src="https://www.lamoncloa.gob.es/Theme/RLaMoncloa/img/icon/flecha-abajo.png">
            </li>

            <li>
                <a href="#" title="opciones">OPCIONES</a>
                <img src="https://www.lamoncloa.gob.es/Theme/RLaMoncloa/img/icon/flecha-abajo.png">
            </li>
        </ul>
       
    </nav>

    
    <div id="description">

        <h2>
            <b>Inicio</b>
        </h2>

        <p>
            En esta página vamos a poder descubrir a que ave pertenecía
            unos determinados huesos, asi como información de que hacer con ellos,
            una guía práctica...<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
            ommodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

    </div>

    <div id="button">
       <a href="iden">Comenzar</a>
    </div>



    <footer>
        
        <div id="name"> Creado por Paula SNG</div>
        <div id="copyright">CopyRight</div>

    </footer>


</body>

</html>