{% extends "apptfg/base.html" %}
    {%block css%}
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/principal2.css"> 
    {%endblock%}

    {%block title%}
        Inicio - TFG
    {%endblock%}

    {%block body%}
    <div class="description">

        <h1>
            <b>¡Bienvenido/a!</b>
        </h1>

        <p>
            En esta página web podrá identificar las siguientes aves rapaces a través de sus restos óseos.
        </p>
        <p>
            Pulse el botón "comenzar" para ir a la página de identificación.
        </p>

    </div>

    <div id="button">
        <a href="iden">Comenzar</a>
     </div>

    <div class="container__article">
        <div class="box__article">
            <img alt="Aguilucho Cenizo" src="../static/img/img_aves/ave1.jpg" >
            <div class="overlay">Aguilucho Cenizo</div>
        </div>
        <div class="box__article">
            <img alt="Águila Calzada" src="../static/img/img_aves/ave2.jpg" >
            <div class="overlay">Águila Calzada</div>
        </div>
        <div class="box__article">
            <img alt="Ratonero Común" src="../static/img/img_aves/ave3.jpg" >
            <div class="overlay">Ratonero Común</div>
        </div>
        <div class="box__article">
            <img alt="Milano Real" src="../static/img/img_aves/ave4.jpg" >
            <div class="overlay">Milano Real</div>
        </div>
        <div class="box__article">
            <img alt="Milano Negro" src="../static/img/img_aves/ave5.jpg" >
            <div class="overlay">Milano Negro</div>
        </div>
        <div class="box__article">
            <img alt="Halcón Abejero" src="../static/img/img_aves/ave6.jpg" >
            <div class="overlay">Halcón Abejero</div>
        </div>
        <div class="box__article">
            <img alt="Azor" src="../static/img/img_aves/ave7.jpg" >
            <div class="overlay">Azor</div>
        </div>
        <div class="box__article">
            <img alt="Halcón Peregrino" src="../static/img/img_aves/ave8.jpg" >
            <div class="overlay">Halcón Peregrino</div>
        </div>
        <div class="box__article">
            <img alt="Aguilucho Langunero" src="../static/img/img_aves/ave9.jpg" >
            <div class="overlay">Aguilucho Langunero</div>
        </div>
        <div class="box__article">
            <img alt="Aguilucho Pálido" src="../static/img/img_aves/ave10.jpg" >
            <div class="overlay">Aguilucho Pálido</div>
        </div>
        <div class="box__article">
            <img alt="Águila Culebrera" src="../static/img/img_aves/ave11.jpg" >
            <div class="overlay">Águila Culebrera</div>
        </div>
        <div class="box__article">
            <img alt="Águila Perdicera" src="../static/img/img_aves/ave12.jpg" >
            <div class="overlay">Águila Perdicera</div>
        </div>
        <div class="box__article">
            <img alt="Águila Imperial" src="../static/img/img_aves/ave13.jpg" >
            <div class="overlay">Águila Imperial</div>
        </div>
        <div class="box__article">
            <img alt="Águila Real" src="../static/img/img_aves/ave14.jpg" >
            <div class="overlay">Águila Real</div>
        </div>
        <div class="box__article">
            <img alt="Quebrantahuesos" src="../static/img/img_aves/ave15.jpg" >
            <div class="overlay">Quebrantahuesos</div>
        </div>
        <div class="box__article">
            <img alt="Buitre Leonado" src="../static/img/img_aves/ave16.jpg" >
            <div class="overlay">Buitre Leonado</div>
        </div>
        <div class="box__article">
            <img alt="Buitre Negro" src="../static/img/img_aves/ave17.jpg" >
            <div class="overlay">Buitre Negro</div>
        </div>
        <div class="box__article">
            <img alt="Búho Real" src="../static/img/img_aves/ave18.jpg" >
            <div class="overlay">Búho Real</div>
        </div>
        <div class="box__article">
            <img alt="Alimoche" src="../static/img/img_aves/ave19.jpg" >
            <div class="overlay">Alimoche</div>
        </div>
        <div class="box__article">
            <img alt="Águila Pescadora" src="../static/img/img_aves/ave20.jpg" >
            <div class="overlay">Águila Pescadora</div>
        </div>
    </div>
    {%endblock%}
