<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/same4.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/principal.css">
    <link rel="icon" type="image/png" href="../static/img/favicon_ave.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width"/>
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->


    <meta charset="UTF-8">
    <title>
        Inicio - TFG
    </title>
</head>

<body>

    <header>
        <h1>Identificación de Restos Óseos en Rapaces Emblemáticas</h1>
    </header>

    <nav>
        <hr>
        <ul>
            <li>
                <a href="/" title="Inicio">INICIO</a>
            </li>

            <li>
                <a href="/" title="Inicio">RECURSOS</a>
            </li>

            <li>
                <a href="/" title="Inicio">CONTACTO</a>
            </li>

        </ul>
    
    </nav>

    <div class="text">
        <div class="description">

            <h1>
                <b>¡Bienvenido/a!</b>
            </h1>
    
            <p>
                En esta página web podrá identificar las siguientes aves rapaces a través de sus restos óseos.
            </p>
            <p>
                Pulse el botón "comenzar" para ir a la página de identificación.
            </p>
    
        </div>

        <div id="button">
            <a href="iden">Comenzar</a>
         </div>

        <div class="container__article">
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave1.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave2.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave3.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave4.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave5.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave6.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave7.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave8.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave9.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave10.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave11.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave12.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave13.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave14.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave15.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave16.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave17.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave18.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave19.jpg" ></div>
            <div class="box__article"><img alt="ave" src="../static/img/img_aves/ave20.jpg" ></div>
        </div>
      
      
    </div>
    
    <footer>
    
        <div id="pie_pagina">
            <hr>
            <div id="imgucm">
                <img alt="Logotipo secundario de la UCM" src="../static/img/logo_ucm.png" >
            </div>
        
            <!-- Hay que añadir el logo de MITECO -->
            <!-- <div id="name"> 
                Esta página web ha sido desarrollada por Paula Sánchez de la Nieta Gómez
            </div> -->
        
            <div id="creativecommons">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                    <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a> 
            </div>
        </div>
        
                 
    </footer>

</body>

</html>