db.sqlite3
db/
logs/
__pycache__/
*.pyc
.env

# Entorno virtual
.venv/

# Bases de datos locales
*.sqlite3

# Archivos de migración temporales
mysite/settings_migrations.py

requirements_migrations.txt

#No utilizados en Render. Solo en local
dev-docker-compose.yaml
docker-compose.yaml