#grid_container_pdf {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2%;
    
}

.box_pdf{
    display: block;
    border-radius: 5%;
    border: 5px solid #154481;
    padding: 2%;
    width: max-content;
    height: min-content;
    background: rgba(29,71,121,.04);
    margin: 20px;
}

.box_pdf h3{
    margin: 2%;
    text-align: justify;
    flex-wrap: wrap;
}

.pdf{
    position: relative;
    width: fit-content;
    display: block;
}

.btn_pdf {
    background-color: #154481;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

a{
    text-decoration: none;
}

i{
    padding: 2%
}
  
  /* Darker background on mouse-over */
.btn_pdf:hover {
background-color: #3e77c2;
}