
#button{
    background-color:#154481;
    border-radius:4px;
    border:none;
    color:#fff;
    font-size:100%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    max-width: 10%;
    text-align: center;
    padding:10px 36px;
}
#button:hover{
    background-color:#3e77c2;
    color:#fff
}

#button a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}

