
.container_bird{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#button{
    background-color:#154481;
    border-radius:4px;
    border:none;
    color:#fff;
    font-size:100%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    max-width: 10%;
    text-align: center;
    padding:10px 36px;
}

#button:hover{
    background-color:#3e77c2;
    color:#fff
}

#button a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

