* {
    margin: 0;
    padding: 0;
}

html{
    background-color:rgba(29,71,121,.04);   
}

body {
    background:#fff;
    font-family:'Lato-Regular',Arial;
    margin:0 auto;
    max-width:1400px;
    min-height:700px;
}

img {
    width: 100%;
    height: auto;
}

.text{
    overflow: auto;
    font-family:'Lato-Regular',Arial;  
}

.description{
    margin-top: 2em;
    padding:2em 2em 2em 2em;
    text-align:left;
}

.description h1{
    word-wrap: break-word;
    /* font-family:'Lato-Bold',Arial; */
    font-size:20px;
    font-weight:normal;
    margin-bottom: 1%;
    color: black;
}

p{
    word-wrap: break-word;
    color:#2a2a2a;
    /* font-family:'Lato-Regular',Arial; */
    font-size:16px;
    font-weight:normal;
    line-height:normal;
    margin:0;
    padding: 1em 1em 1em 1em;
    text-align:left;
    background-color:rgba(29,71,121,.04);
}

/**************************************************************/
/*-------------- HEADER ------------------------------------- */
/**************************************************************/

header{
    
    background:#154481;
    color: #fff;
    margin:0 auto;
    min-width: 100%;
    min-height: 10%;
    vertical-align:middle;
    text-align: center;
}

header h1{
    font-family:'Lato-Bold',Arial;
    font-size:32px;
    font-weight:bolder;
    padding:1%;
    
}

/**************************************************************/
/*-------------- NAV ------------------------------------- */
/**************************************************************/

hr{
    box-sizing:content-box;
    height:0;
}

nav{
    font-family:'Lato-Bold',Arial;
    display: inline-block;
    background:#154481;
    width: 100%;
    height: 2em;
}

nav ul{
    list-style: none;
    padding: 5px;
}
nav li{
    display: inline;
    color:#fff;
    text-align: center;
    margin-right: 3px;
    padding-right: 15px;
    padding-left: 15px;
    font-family:'Lato-Bold',Arial;
    font-size:14px;
}

/* nav li:hover{
    background-color:#3e77c2;
    color:#fff;
} */

nav li a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}

/**************************************************************/
/*-------------- FOOTER ------------------------------------- */
/**************************************************************/

footer #pie_pagina{
    max-width: 70%;
    max-height: 15%;
    margin-top:5% ;
    color:#2a2a2a;
    text-align: center;
    overflow: auto;
}

footer #imgucm{
    margin:0px auto;
    float: left;
    padding: 1%;
}

footer #name{
    margin:0px auto;
    font-family:'Lato-Regular',Arial;
    float: left;
    max-width: 40%;
    padding: 1%;
}

footer #creativecommons{
    margin:0px auto;
    float: left;
    padding: 1%;
}