<!DOCTYPE html>
<html lang="es">
<head>
  <!-- CSS base -->
  <link rel="stylesheet" href="/css/same.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/img/favicon_ave.png">

  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Meta -->
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">

  <title>Login - TFG</title>

  <script defer src="/js/nav.js"></script>
</head>

<body>

<header>
  <h1>Identificación de Restos Óseos en Rapaces Emblemáticas</h1>
</header>

<div id="site-navbar-placeholder"></div>

<div class="text">
  <div class="description">

    <h1>Iniciar sesión</h1>

    <form method="post" style="padding:1em;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>

    <p style="margin-top: 0.75em;">
      ¿Has olvidado tu contraseña?
      <a href="/accounts/forgot-password/">Recuperarla</a>
    </p>
    
    <div style="margin-top: 1em;">
    <span>¿No tienes cuenta?</span>
    <a href="/accounts/register/"><strong>Regístrate aquí</strong></a>
    </div>

  </div>
</div>

</body>
</html>