<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="/css/same.css">
  <link rel="icon" type="image/png" href="/img/favicon_ave.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <title>Registro - TFG</title>
  <script defer src="/js/nav.js"></script>
</head>
<body>

<header>
  <h1>Identificación de Restos Óseos en Rapaces Emblemáticas</h1>
</header>

<div id="site-navbar-placeholder"></div>

<div class="text">
  <div class="description">
    <h1>Crear cuenta</h1>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="post" style="padding:1em;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Registrarme</button>
    </form>

  <p style="margin-top: 1em;">
  ¿Ya tienes cuenta?
  <a href="/accounts/login/">Inicia sesión</a>
  </p>

  <p style="margin-top: 0.75em;">
    ¿Ya te registraste pero no completaste la verificación?
    <a href="/accounts/verify-email/">Verificar correo</a>
  </p>
  
  </div>
</div>

</body>
</html>